
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    text-align: center;
    font-family: 'S-CoreDream';
}
h1{
    font-weight: 5000;
    font-size: 100pt;
    margin: 20px;
}
table{
    text-align: center;
    font-weight: 1000;
    font-size: 24pt;
    margin: auto;
}
tr{
    margin: 10px;
}
.input{
    font-size: 20pt;
    padding: 10px;
    margin: 3px;
    background-color: aliceblue;
    border: 0;
}
.button{
    font-size: 20pt;
    padding: 10px;
    background-color: beige;
    border: 0;
}