
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    text-align: center;
    font-family: 'S-CoreDream';
}
h1{
    font-weight: 2000;
    font-size: 50pt;
    margin: 50px;
}
table{
    text-align: center;
    font-weight: 1000;
    font-size: 30pt;
    margin: auto;
}
tr{
    margin: 10px;
}
.input{
    text-align: center;
    font-family: 'S-CoreDream';
    font-size: 27pt;
    padding: 5px;
    margin: 8px;
    background-color: aliceblue;
    border: 0;
    width: 250px;
    height: 80px;
}
.button{
    font-size: 20pt;
    font-family: 'S-CoreDream';
    padding: 5px;
    background-color: beige;
    border: 0;
    width: 50px;
    height: 90px;
}